<div class="container">  

  <h1>Jobs</h1>
  <% if user_signed_in?#si esta logeado %>
    <div>

      <span class="fs-4 fw-bold"> Bienvenido estimado/a : <%= current_user.email %></span>

      <% if current_user.avatar.attached? %>
        <%= image_tag current_user.avatar, width:300 %>
      <% end %>
      
    </div>
    <!--ADMIN-->
    <% if current_user.roles == "admin" %>
      <p>Dashboard <%= current_user.roles %> </p>
      <%= link_to "Nuevo trabajo", new_job_path %>
    <% else %>
      <!--CLIENTE-->
      <p>Dashboard <%= current_user.roles %> </p>
    <% end %>
  <% end %>
  <div>
        <%= search_form_for @q do |f| %>
        <%= f.search_field :name_cont %>
        <%= f.submit %>
      <% end %>
  </div>
  <div id="jobs">
    <% if @jobs.length>=1 %>
      <% @jobs.each do |job| %>
        <%= render job %>
        <p>
          <%= link_to "Ver más..", job %>
        </p>
        <hr>
      <% end %>
    <% else %>
      <p> No se ha encontrado jobs </p>
    <% end %>
  </div>
  <% if user_signed_in?%>
    <% if current_user.roles == "admin"%>
      <h3>Ofertas notificadas</h3>
      <% @postulations.each do |p|%>
        <div>
          <h4>Oferta: <%= p.job.name %>  </h4>
          <p>Usuario solicitado: <%= p.user.name %></p>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>